* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-image: url('./logo192.png');
    /* background: #5dd0ee; */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 250px;
}

#logo {
    width: 40px;
    padding-right: 10px;
}

#title {
    color: #5dd0ee;
    margin: 0;
    /* auto 指的是剩下所有空間，因此得到左右物件分開的效果。*/
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

nav.dark {
    background-color: #21222A;
}


.toggler {
    display: flex;
    align-items: center;
}

.dark .toggler--slider {
    background-color: #21222A;
}

.nav--btnImg {
    height: 30px;
    margin: 5px 5px 0px 5px;
}

.content {
    padding: 30px;
    padding-top: 50px;
    background-color: white;
    color: #2B283A;
}

.content--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.content>ul>li {
    padding: 10px;
}

.content>ul>li::marker {
    font-size: 2em;
    color: #5dd0ee;
}

.content--text {
    font-weight: 10px;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler--dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

.dark.content {
    background-color: #282D35;
    color: white;
}